* {
  font-size: 28px;
  font-family:Amaranth, Helvetica, sans-serif;
}

h1 {
  height:100px;
  border: solid red 2px;
  padding-left: 20px;
}

#letters {
  width:25%;
  text-align: center;
  margin:auto;
}

.answer {
  width:25%;
  margin:auto;
}

.gallows {
  height: 200px;
  width: 200px;
  margin:auto;
  text-align: center;
  padding:50px;
}

.gallows img {
  height: 100%;
}

#win {
  display:none;
  opacity:0;
  margin-top:0px;
  text-align: center;
  padding:0px 50px 50px 50px;
  border:solid red 2px;
}

#win span:hover{
  cursor: pointer;
}

#lose{
  display:none;
  opacity:0;
  margin-top:0px;
  text-align: center;
  padding:50px;
  border:solid red 2px;
}

#lose span:hover{
  cursor: pointer;
}
